@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

$primary-text-color: #2B2830;
$secondary-text-color: lighten($primary-text-color, 30%);
$background-color-dark: #9FB0C9;
$background-color: lighten(#9FB0C9, 20%);
$background-color-light: lighten($background-color, 5%);

$shadow: lighten($background-color-dark, 15%);
$button-color: #ff6565;
$button-color-highlight: lighten($button-color, 20%);

html {
    font-family: 'Karla';
    margin: 20px;
    background-color: $background-color;
}
main {
    margin-right: 40px;
    margin-left: 40px;
}
header {
    font-family: 'Karla';
    display:flex;
    justify-content: center;
    background-color: $background-color;
    color: $primary-text-color;
}

h1 {
    background-color: $button-color-highlight;
    padding: 0.5vw; 
    padding: 1vw;
    box-shadow: 0px 0px 5px 5px $shadow;
}

button {
    padding: 10px;
    border-width: thin;
    font-family: 'Karla';
    font-size: 0.9rem;
    border-color: $button-color;
    border-style: none;
  
}




//main page
.addButtonDiv {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    padding-bottom: 0.8rem;
    
}

.btnRemove {
 
    background-color: $background-color;
    &:hover{
        background-color: $background-color-dark;
        border-color: $background-color-dark;
    }
}

.addButton {
    background-color: $background-color-light;
    &:hover {
        background-color: $button-color;
    }
}

.tunesContainer {
  padding: 2em;
}

.singleTune {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: $background-color-light;
    box-shadow: 0px 0px 2px 2px $shadow;
    padding: 0.3vw;
}

#tuneTitle {
    font-weight: bold;
    

}
#tuneComposer {
    color: $secondary-text-color;
   
}
#tuneKeys {

}
#addTuneDiv {

}
//add tune
.mainAddTuneContainer {
    display:flex;
    align-content: space-between;
    justify-content: center;

   
    
}

.mainAddTuneSection {
    padding: 3vw;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    background-color: $background-color-light;
    box-shadow: 0px 0px 5px 5px $shadow;   
    
}

//addtune page
h3 {
    display: flex;
    justify-content: center;
    color: $primary-text-color
 };
 
.checkboxWithLabel{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    //align-content: center;
    align-items: center;
  
} ;

.addTuneButtons {       
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;

    .btnCancel {
        background-color: $background-color;
        &:hover{
            background-color: $background-color-dark;
            border-color: $background-color-dark;
        }
    }
    .btnSave {
        background-color:$button-color-highlight;
        &:hover{
            background-color: $button-color;
        }
    }

}

.input {
    padding: 1vw;
    background-color: $background-color-light;
    border-color: $background-color;
    border-style: solid;
    border-radius: 3px;
    font-family: 'Karla';
    font-size: 14px;

}